
.name-item-cards {
  background-color: red;
  height: 60px;
  text-align: center;
  margin-top: 290px;
  width: 83%;
}

.name-product {
  position: relative;
  bottom: 80px;
}

.link-see-more {
  position: relative;
  bottom: 28px;
  color: $dark-green;

}

.title-page {
text-align: center;
}

.link-to-new-item {
  // position: absolute;
  // top: 135px;
  // left: 10px;
}
.img-cards-item {
  width: 80%;
  height: 75%;
  display: block;
  margin: 12px auto;
}
.portfolio-item {
  border: 1px solid black;
  width: 315px;
  height: 315px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  opacity: 0.9;
  margin-top: 35px;
  box-shadow: 10px 10px 5px #4f4f4f;
}

.section-box-item {
  width: 100%;
  display: inline-block;
  margin-left: 7%;
}

.form-product-container {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
